h1{color: blue; font-family: arial; font-size: 30pt;}
p{font-family: arial; font-size: 15pt;}
Body{background: lightgreen;}
ul{font-family: arial; font-size: 15pt;}
ol{font-family: arial; font-size: 15pt;}